@import "tailwindcss";

:root {
  --background: #07111F;
  --foreground: #F8FAFC;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.glow {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #00c2ff30;
  filter: blur(120px);
  z-index: -1;
}

::selection {
  background: #00c2ff;
  color: black;
}

.card-hover {
  transition: all 0.4s ease;
}

.card-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 40px rgba(0, 194, 255, 0.15);
}

.gradient-border {
  position: relative;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(0,194,255,0.5),
    rgba(79,70,229,0.5)
  );
  
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}
.fade-bottom {
  background: linear-gradient(
    to bottom,
    transparent,
    #07111F
  );
}

body {
  background:
    radial-gradient(circle at top left, #0f172a, #07111F);
}


a {
  transition: all 0.3s ease;
}

a:hover {
  transform: translateY(-2px);
}
.glow-button {
  box-shadow:
    0 0 20px rgba(0,194,255,0.25);
}

.section-glow {
  position: relative;
}

.section-glow::before {
  content: "";

  position: absolute;

  inset: 0;

  background:
    radial-gradient(
      circle at top right,
      rgba(0,194,255,0.08),
      transparent 40%
    );

  pointer-events: none;
}